<a href="https://colab.research.google.com/github/chadhardin/IST-210/blob/master/GroupAssignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![ER Diagram](https://raw.githubusercontent.com/jdhenry/More-testing/master/Images/Untitled%20Diagram.png)

In [ ]:
%load_ext sql
%sql sqlite:///baconry.db

'Connected: @baconry.db'

In [ ]:
%%sql  
DROP TABLE IF EXISTS Employee;
create table Employee (EmployeeID text PRIMARY KEY, FirstName text, LastName text, StoreNumber text);

DROP table IF EXISTS Store;
create table Store (StoreNumber text PRIMARY KEY, PhoneNumber text, StreetAddress text, Website text);

DROP table IF EXISTS Menu;
create table Menu (StoreNumber text, ItemID text,
PRIMARY KEY(StoreNumber,ItemID));

DROP table IF EXISTS Items;
create table Items (ItemID text PRIMARY KEY, name text, AmountInStock int, price real);

DROP table IF EXISTS ItemsPurchased;
create table ItemsPurchased (PurchaseNumber text, ItemID text,
PRIMARY KEY(PurchaseNumber, ItemID));

DROP table IF EXISTS AllergyInfo;
create table AllergyInfo (ItemID text, AllergyID text, 
PRIMARY KEY(ItemID,AllergyID));

DROP table IF EXISTS Allergy;
create table Allergy (AllergyID text PRIMARY KEY, Type text, Severity text);

DROP table IF EXISTS Purchases;
create table Purchases (PurchaseNumber text PRIMARY KEY, TotalCost real, LoyaltyCard text, Date text);

DROP table IF EXISTS Loyalty;
create table Loyalty (CardID text PRIMARY KEY, FirstName text, LastName text, PhoneNumber text, Points int, DoB text, Email text);

 * sqlite:///baconry.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [ ]:
%%sql
insert into Employee values('867534', 'Noah', 'Binder', '590');
insert into Employee values('873264', 'Nico', 'Rovera', '568');
insert into Employee values('835649', 'Jared', 'Gander', '590');
insert into Employee values('890332', 'Sara', 'Usnick', '570');
insert into Employee values('857463', 'Eric', 'Graybill', '570');
insert into Employee values('859305', 'Justin', 'Johnson', '546');
insert into Employee values('893853', 'Chad', 'McCarthy', '583');

insert into Store values('590', '717-863-3271', '820 Meadow Lane', 'www.baconry.com/590');
insert into Store values('568', '740-527-5490', '7329 Main Street', 'www.baconry.com/568');
insert into Store values('570', '740-645-8788', '567 Fourth Street', 'www.baconry.com/570');
insert into Store values('546', '717-321-4529', '746 Burrows Road', 'www.baconry.com/546');
insert into Store values('583', '736-548-0987', '654 Second Street', 'www.baconry.com/583');

insert into Menu values('590','346');
insert into Menu values('590','627');
insert into Menu values('590','478');
insert into Menu values('590','221');
insert into Menu values('568','346');
insert into Menu values('568','627');
insert into Menu values('568','945');
insert into Menu values('568','478');
insert into Menu values('568','221');
insert into Menu values('570','346');
insert into Menu values('570','627');
insert into Menu values('570','945');
insert into Menu values('570','221');
insert into Menu values('546','627');
insert into Menu values('546','945');
insert into Menu values('546','478');
insert into Menu values('546','221');
insert into Menu values('583','346');
insert into Menu values('583','627');
insert into Menu values('583','945');
insert into Menu values('583','478');
insert into Menu values('583','221');


insert into Items values('346', 'Bacon Cupcakes', 48, 2.50);
insert into Items values('627', 'Bacon Cookies', 73, 1.25);
insert into Items values('945', 'Bacon and Blueberry Pie', 12, 13.75);
insert into Items values('478', 'Maple Bacon Doughnuts', 52, 3.00);
insert into Items values('221', 'Bacon Peanut Butter Cookies', 75, 1.75);

 * sqlite:///baconry.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [ ]:
%%sql
insert into Allergy values('111','Gluten','Major');
insert into Allergy values('112','Eggs','Minor');
insert into Allergy values('115','Blueberry','Major');
insert into Allergy values('119','Maple Syrup','Minor');
insert into Allergy values('142','Peanuts','Major');

insert into AllergyInfo values('346','111');
insert into AllergyInfo values('346','112');
insert into AllergyInfo values('627','112');
insert into AllergyInfo values('945','112');
insert into AllergyInfo values('945','115');
insert into AllergyInfo values('478','111');
insert into AllergyInfo values('478','112');
insert into AllergyInfo values('221','112');
insert into AllergyInfo values('221','142');

insert into ItemsPurchased values('346','7643892643');
insert into ItemsPurchased values('945','7643892643');
insert into ItemsPurchased values('221','7643892643');
insert into ItemsPurchased values('945','2304932930');
insert into ItemsPurchased values('945','6423802192');
insert into ItemsPurchased values('221','6423802192');
insert into ItemsPurchased values('346','4234590324');
insert into ItemsPurchased values('478','4234590324');
insert into ItemsPurchased values('221','4234590324');
insert into ItemsPurchased values('346','8549302175');
insert into ItemsPurchased values('945','8549302175');
insert into ItemsPurchased values('478','8549302175');


insert into Purchases values('7643892643',18.00,'5418094','10/19/20');
insert into Purchases values('2304932930',13.75,'3267294','10/19/20');
insert into Purchases values('6423802192',15.5,'2950183','11/02/20');
insert into Purchases values('4234590324',7.25,'3206758','05/08/20');
insert into Purchases values('8549302175',19.25,'6780328','11/02/20');

insert into Loyalty values('3206758','Rodrick','Hamilton','678-999-8212',1002,'12/18/73','rh2@squaremail.com');
insert into Loyalty values('2950183','Amy','Squarsom','543-654-2749',72,'06/24/89','as92@squaremail.com');
insert into Loyalty values('6780328','Stephven','Derson','543-128-6793',905,'03/02/99','82sd@squaremail.com');
insert into Loyalty values('5418094','Ruby','Wort','543-152-6432',1720,'10/24/95','rw567@squaremail.com');
insert into Loyalty values('3267294','Eric','Lorson','543-724-2358',542,'08/15/84','el12@squaremail.com');
insert into Loyalty values('5418095','Lil','Renson','543-212-9123',5,'10/24/02','lr02@squaremail.com');
insert into Loyalty values('3267295','Wobbert','Jackson','543-324-6358',7201,'08/15/84','wj59@squaremail.com');

 * sqlite:///baconry.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

What was the total earned from purchases grouped by date?

In [ ]:
%%sql 

SELECT SUM(TotalCost), Date FROM Purchases GROUP BY Date;

 * sqlite:///baconry.db
Done.

[(7.25, '05/08/20'), (31.75, '10/19/20'), (34.75, '11/02/20')]

This is important to determine how much the company is earning each day. We can see if people are buying more goods on one day or another or if the earnings are similiar to each other.

Which item(s) have a Gluten allergy?

In [ ]:
%%sql
SELECT i.name,a.Type FROM Items i, Allergy a, AllergyInfo b WHERE a.AllergyID = b.AllergyID AND b.ItemID = i.ItemID AND a.Type = "Gluten";

 * sqlite:///baconry.db
Done.

[('Bacon Cupcakes', 'Gluten'), ('Maple Bacon Doughnuts', 'Gluten')]

This is important because we should be able to spot out certain food items that have specific types of allergies to warn customers. We can also use this information to see which items are picked the most and with what allergies to maximize profit to production.

How much have loyalty members spent on purchases?

In [ ]:
%%sql
SELECT SUM(p.TotalCost), l.FirstName, l.LastName FROM Purchases p, Loyalty l WHERE p.LoyaltyCard = l.CardID GROUP BY CardID

 * sqlite:///baconry.db
Done.

[(15.5, 'Amy', 'Squarsom'),
 (7.25, 'Rodrick', 'Hamilton'),
 (13.75, 'Eric', 'Lorson'),
 (18.0, 'Ruby', 'Wort'),
 (19.25, 'Stephven', 'Derson')]

This is important to see which loyalty members are spending the most. We can use this information to then send coupons to customers that maybe arent buying as much as others.